
* {
    outline: red solid 1px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.top-content {
    background-color: #1F2937;
    padding-right: 50px;
    padding-left: 50px;
    flex-direction: column;
    flex-shrink: 0;
}

.link-line {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex-shrink: 0;
    align-items: center;
}

.james-logo {
    max-height: 50px;
    padding: 10px;
}

.links-left {
    display: flex;
}
.links-right {
    display: flex;
}

.header-content {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}
.header-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 10px;
    justify-content: center;
}

.header-text-title {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-text-body {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}
.header-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.header-button-o,
.header-button-x {
    display: flex;
    font-size: 18px;
    justify-content: center;
    max-width: 150px;
    margin-top: 20px;
    border-radius: 10px;
    min-width: 100px;
}

.header-button-o {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
}

.header-button-x {
    background-color: #E5E7EB
}

.header-image {
    display: inline-flex;
    
}

.james-beer {
    display: flex;
    max-width: 325px;
    padding-top: 20px;
}

.white-space {
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
    flex-direction: column;
}

.white-header {
    display: flex;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.white-deck {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    flex-shrink: 0;
    gap: 15px;
    
}

.james-img-1,
.james-img-2,
.james-img-3,
.james-img-4 {
    max-height: 200px;
    max-width: 200px;
    min-width: 200px;
    display: flex;
    border-radius: 10px;
    border: 4px solid #3882F6;
}

.desc-1,
.desc-2,
.desc-3,
.desc-4 {
    display: flex;
    max-height: 200px;
    max-width: 200px;
    min-width: 200px;
    margin: 5px;
}

.quote-section {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #E5E7EB;
    flex-direction: column;
}

.quote {
    display: flex;
    font-size: 25px;
    font-style: italic;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    max-width: 700px;
    min-width: 600px;
    align-self: center;
    flex-shrink: 0;
    flex-direction: column;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
    max-width: 700px;
    align-content: center;
    flex-shrink: 0;
    padding-top: 10px;
}

.register-section{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px;
    justify-content: space-between;
}

.register-box{
    display: flex;
    background-color: #3882F6;
    margin: auto;
    padding: 20px 100px 20px 100px;
    border-radius: 10px;
}

.register-box-content {
    display: flex;
    flex-basis: auto;
    gap: 75px;
}

.register-text {
    display: flex;
    flex-direction: column;
    color:#F9FAF8;
    max-width: 400px;
    flex-wrap: wrap;
}

.register-header {
    display: flex;
    font-weight: bold;
    font-size: 20px;
}

.register-body {
    display: flex;
    font-size: 18px;
    padding-top: 10px;
}

.register-button-box {
    display: flex;
}

.register-button {
    display: flex;
    margin: auto;
    flex-shrink: 0;
    color: #F9FAF8;
    background-color: #3882F6;
    border: #F9FAF8 solid 2px;
    border-radius: 15px;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
}

.footer {
    display: flex;
    background-color:#1F2937;
    justify-content: center;
    padding: 20px;
}

.footer-text {
    display: flex;
    color:#E5E7EB;
    font-size: 18px;
    font-weight: bold;
}